<lib-layout class="lib-boxStyle-gold" hcenter>
  <lib-layout-cell width="20">
    <h1 class="lib-contentBlock-padding">Корзина</h1>
    <%= simple_form_for current_order, url: store_order_path, html: {class: expand_class('lib', form: 'gold large table')} do |form| %>
      <fieldset>
        <table>
          <thead>
            <tr>
              <th class="lib-table-cell-10"><%= Order::Item.human_attribute_name "product" %></th>
              <th><%= Order::Item.human_attribute_name "count" %></th>
              <th><%= Order::Item.human_attribute_name "size" %></th>
              <th class="lib-table-cell-4"></th>
            </tr>
          </thead>
          <tbody>
            <%= form.simple_fields_for :items do |item_fields| %>
              <tr>
                <td>
                  <%= render 'lib/product_line', product: item_fields.object.product %>
                </td>
                <td>
                  <%= item_fields.input :amount, label: false %>
                </td>
                <td>
                  <%= item_fields.input :size, label: false %>
                </td>
                <td>
                  <%= item_fields.input :_destroy, as: :boolean %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </fieldset>

      <div class="form-actions">
        <%= form.submit class: expand_class('lib', buttons: 'small black') %>
      </div>
      <div class="form-actions">
        <%= link_to t('actions.back_to_store'), store_root_path, class: 'lib-buttons-small lib-buttons-round lib-buttons-blackBorder' %>
      </div>
    <% end %>
  </lib-layout-cell>
</lib-layout>
