<lib-layout-cell width="4" class="lib-boxStyle-gold lib-layout-aside">
  <lib-layout>
    <dl class="lib-layout-aside-content">
      <dt><%= Product.human_attribute_name :price %></dt>
      <dd>
        <h2><%= number_to_currency resource.price %></h3>
      </dd>
    </dl>

    <%= link_to t('actions.add_to_cart'),
      store_order_items_path(product_public_id: resource.public_id),
      is: 'lib-layout-acell',
      width: "4",
      method: 'post',
      class: expand_class('lib', buttons: 'small black', boxStyle: 'inFlow'),
      id: 'storeItemAddToCart'
    %>
    
    <dl class="lib-layout-aside-content">
      <dt><%= Product.human_attribute_name :batch %></dt>
      <dd><%= resource.batch.name %></dd>
      <% resource.options.group_by(&:characteristic).each do |characteristic, options| %>
        <dt><%= characteristic.name %></dt>
        <dd>
          <% options.each do |option| %>
            <span class="lib-buttons-small lib-buttons-whiteBorder lib-buttons-round">
              <%= option.name %>
            </span>
          <% end %>
        </dd>
      <% end %>
      <dt><%= t('actions.share') %></dt>
    </dl>

    <%= render 'lib/share_buttons', url: store_product_url(resource) %>
  </lib-layout>
</lib-layout-cell>
