<lib-layout-cell width="4" mediumHidden class="lib-boxStyle-gold lib-layout-aside app-store-productAside">
  <lib-layout id="appAsideContent">
    <dl class="lib-layout-aside-content">
      <dt><%= Product.human_attribute_name :price %></dt>
      <dd>
        <h2><%= product_price resource %></h3>
      </dd>
    </dl>

    <% unless resource.price_by_request? %>
	<%= link_to t('actions.add_to_cart'),
	store_order_items_path(product_public_id: resource.public_id),
	is: 'lib-layout-acell',
	width: "4",
	method: 'post',
	class: expand_class('lib', buttons: 'small black', boxStyle: 'inFlow'),
	    id: 'storeItemAddToCart'
	%>
    <% end %>

    <dl class="lib-layout-aside-content">
      <dt><%= Product.human_attribute_name :batch %></dt>
      <dd><%= link_to resource.batch.name.value, store_batch_path(resource.batch), class: 'invisible' %></dd>
      <% resource.options.group_by(&:characteristic).each do |characteristic, options| %>
        <dt><%= characteristic.name.value %></dt>
        <dd>
          <% options.each do |option| %>
            <%= link_to option.name.value,
              store_option_path(option),
              class: 'lib-buttons-small lib-buttons-whiteBorder lib-buttons-round'
            %>
          <% end %>
        </dd>
      <% end %>
      <dt><%= t('actions.share') %></dt>
    </dl>

    <%= render 'lib/share_buttons', url: store_batch_product_url(resource.batch, resource) %>
  </lib-layout>

  <lib-scrolledFixed ref="appAsideContent" offset="116"></lib-scrolledFixed>


</lib-layout-cell>
