<div class="lib-layout-cell-20">
  <div class="lib-contentBlock-contentBlock lib-contentBlock-padding lib-contentBlock-border-gold">
    <h1><%= resource.name %></h1>
    <h2><%= resource.batch.name %></h2>
  </div>

  <%= render 'lib/page', page: resource %>
  <div class="media">
    <%= link_to [:store, resource], target: '_blank', class: 'pull-left' do %>
      <%= image_tag uploadcare_url(resource.poster, scale_crop: '35x35/center') %>
    <% end %>
    
    <div class="media-body">
      <h5 class="media-heading">
        <%= link_to [:store, resource], target: '_blank' do %>
          <%= resource.batch.name %>
          “<%= resource.name %>”
        <% end %>
      </h5>
      <%= resource.options_description %>
    </div>
  </div>

  <%= simple_form_for [:store, current_order.items.build(product: resource)] do |form| %>
    <%= form.input :size if resource.has_sizes %>
    <%= form.input :amount %>
    <%= form.input :product_public_id, as: :hidden  %>
    <%= form.submit 'Add to cart', class: 'btn btn-default', data: {label: 'store-add-to-cart'} %>
  <% end %>
</div>
