<lib-layout-cell width="20">
  <div class="lib-contentBlock-contentBlock lib-contentBlock-padding lib-contentBlock-border-gold">
    <h1><%= resource.name.value %></h1>
    <h2><%= resource.batch.name.value %></h2>
  </div>

  <%= render 'lib/page', page: resource, width: 20 %>

  <div class="lib-boxStyle-inFlow">
    <%= render 'lib/share_buttons', url: store_product_url(resource), style: 'gold' %>  
  </div>
  
  <lib-layout vcenter stack>
    <h2>
      <%= number_to_currency resource.price %>
    </h2>
    <%= link_to t('actions.add_to_cart'),
      store_order_items_path(product_public_id: resource.public_id),
      method: 'post',
      class: expand_class('lib', buttons: 'small black', boxStyle: 'inFlow')
    %>
  </lib-layout>

  <hr>

  <div class="lib-contentBlock-padding">
    <h2>
      <%= t('actions.see_also') %>
    </h2>
  </div>

  <lib-layout justify>
    <%= render partial: 'lib/product_preview', collection: see_also_products.limit(3), as: :product %>
  </lib-layout>
  <hr>
</lib-layout-cell>

