<lib-layout class="lib-boxStyle-gold">
  <lib-layout-cell width="14" gap="5" class="lib-contentBlock-padding">

    <%= simple_form_for resource,
      as: resource_name, url: password_path(resource_name),
      html: {class: expand_class('lib', form: 'gold large'), method: :put} do |f| %>
        <fieldset>
          <legend><%= t('.welcome') %></legend>

          <%= f.input :password, placeholder: false %>
          <%= f.input :password_confirmation %>

          <div class="form-actions">
            <%= f.button :submit, t('.commit'),
              class: expand_class('lib', buttons: 'small black') %>
          </div>

        </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>

  </lib-layout-cell>
</lib-layout>

