<h1>
  Order #<%= resource.public_id %>
</h1>

<div class="page-header">
  <h3>Customer</h3>
</div>

<dl>
  <dt>Name:</dt>
  <dd><%= resource.user.name %></dd>
  <dt>Paid at:</dt>
  <dd><%= I18n.l resource.updated_at, format: :short %></dd>
</dl>

<div class="page-header">
  <h3>Items</h3>
</div>


<table class='table'>
  <thead>
    <tr>
      <th>Product</th>
      <th>Count</th>
      <th>Size</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% resource.items.each do |item| %>
      <tr>
        <td>
          <div class="media">
            <%= link_to [:store, item.product], target: '_blank', class: 'pull-left' do %>
              <%= image_tag uploadcare_url(item.product.poster, scale_crop: '35x35/center') %>
            <% end %>
            
            <div class="media-body">
              <h5 class="media-heading">
                <%= link_to [:store, item.product], target: '_blank' do %>
                  <%= item.product.batch.name %>
                  “<%= item.product.name %>”
                <% end %>
              </h5>
              <%= item.product.options_description %>
            </div>
          </div>
        </td>
        <td>
          <%= item.amount %>
        </td>
        <td>
          <%= item.size %>
        </td>
        <td>
          <%= number_to_currency item.total %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<dl>
  <dt>Total:</dt>
  <dd><%= number_to_currency resource.total %></dd>
</dl>


<div class="page-header"><h3>Shipping Info</h3></div>

<dl>
  
  <dt>
    Country:
  </dt>
  <dd>
    <% if resource.country.present? %>
      <%= resource.country.name %>
    <% end %>
  </dd>

  <% %w(
    shipping_address_line1
    shipping_address_line2
    shipping_city
    shipping_state
    shipping_zip
    phone_number
  ).each do |attr| %>
    <dt>
      <%= Order.human_attribute_name(attr) %>:
    </dt>
    <dd>
      <%= resource.send(attr) %>
    </dd>
  <% end %>
</dl>

<br>

<p>
  <%= link_to raw('&larr; Back to store'), root_url, class: 'btn btn-default' %>
</p>