<!DOCTYPE html>
<html>
<head>
  <title>Markin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="lib-textFormatted">

<%= render 'lib/site_title' %>
<%= render 'lib/menu' %>

<%= yield %>


</body>
</html>
