<lib-layout-cell width="24" class="lib-boxStyle-black lib-boxStyle-halfpadding">

  <%= link_to image_tag('site-title-tiny-inverse.svg'), root_url %>
  <br />
  <small class="lib-textStyle-captionSerif">
    <%= link_to t('lib.site_title.contacts'), page_path('contacts'), class: 'invisible' %>
  </small>
  <br />
  <small class="lib-textStyle-captionSerif">
    <%= link_to t('lib.meny.client_care'), users_profile_path, class: 'invisible' %>
  </small>
  <br />
  <small class="lib-textStyle-captionSerif">
    <%= link_to 'info@vladimirmarkin.com', 'mailto:info@vladimirmarkin.com', class: 'invisible' %>
  </small>
  <br />
  <small class="lib-textStyle-captionSerif">
    <%= link_to 'https://www.facebook.com/markinjewellery', class: 'invisible', target: '_blank' do %>
      <span class="lib-textStyle-websymbol">&#228;</span>
    <% end %>
    <%= link_to 'http://instagram.com/markinjewellery', class: 'invisible', target: '_blank' do %>
      <span class="lib-textStyle-websymbol">&#235;</span>
    <% end %>
    <%= link_to 'http://ru.pinterest.com/markinjewellery/', class: 'invisible', target: '_blank' do %>
      <span class="lib-textStyle-websymbol">&#237;</span>
    <% end %>
    <%= link_to 'https://plus.google.com/+Vladimirmarkinjewelry', class: 'invisible', target: '_blank' do %>
      <span class="lib-textStyle-websymbol">&#232;</span>
    <% end %>

  </small>
</lib-layout-cell>
