<% if order.messages.present? %>
  <dl>
    <dt><%= Order.human_attribute_name 'messages' %></dt>
    <% order.messages.each do |message| %>
      <dd><%= I18n.l message.created_at, format: :short %>, <%= message.text %>.</dd>
    <% end %>
  </dl>
<% end %>

<lib-layout class="lib-textStyle-captionSmallMinor">
  <lib-layout-cell width="10" smallWidth="6">
    <%= Order::Item.human_attribute_name "product" %>
  </lib-layout-cell>
  
  <lib-layout-cell width="4"  smallWidth="5" smallGap="1">
    <%= Order::Item.human_attribute_name "amount" %>
  </lib-layout-cell>
  
  <lib-layout-cell width="3"  smallWidth="4">
    <%= Order::Item.human_attribute_name "size" %>
  </lib-layout-cell>
  
  <lib-layout-cell width="3" smallWidth="4">
    <%= Order::Item.human_attribute_name "count" %>
  </lib-layout-cell>
</lib-layout>


<% order.items.each do |item| %>
  <lib-layout class="lib-boxStyle-inFlow">
    <lib-layout-cell width="10" smallWidth="6">
      <%= render 'lib/product_line', product: item.product %>
    </lib-layout-cell>
  
    <lib-layout-cell width="4" smallWidth="5" smallGap="1">
      <span class="lib-textStyle-condenced"><%= number_to_currency item.total, precision: 0 %></span>
    </lib-layout-cell>
  
    <lib-layout-cell width="3" smallWidth="4">
      <%= item.size.presence || "—" %>
    </lib-layout-cell>
  
    <lib-layout-cell width="3" smallWidth="4">
      <%= item.amount %>
    </lib-layout-cell>
  </lib-layout>
<% end %>

<hr>

<% if order.shipping_info.present? %>
  <dl>

    <lib-layout>
      <lib-layout-cell width="4" mediumWidth="10" smallWidth="10">
        <dt><%= Order::ShippingInfo.human_attribute_name('shipping_name') %>:</dt>
        <dd><%= order.shipping_info.shipping_name %></dd>
      </lib-layout-cell>
      <lib-layout-cell width="4" mediumWidth="10" smallWidth="10" gap="2">
        <dt><%= Order::ShippingInfo.human_attribute_name('country') %>:</dt>
        <dd><% if order.shipping_info.country.present? %><%= order.shipping_info.country.name %><% end %></dd>
      </lib-layout-cell>
    </lib-layout>

    <lib-layout>
      <lib-layout-cell width="4" mediumWidth="10" smallWidth="10">
        <dt><%= Order::ShippingInfo.human_attribute_name('shipping_address_line1') %>:</dt>
        <dd><%= order.shipping_info.shipping_address_line1 %></dd>
      </lib-layout-cell>
      <lib-layout-cell width="4" gap="2" mediumWidth="10" smallWidth="10">
        <dt><%= Order::ShippingInfo.human_attribute_name('shipping_address_line2') %>:</dt>
        <dd><%= order.shipping_info.shipping_address_line2 %></dd>
      </lib-layout-cell>
    </lib-layout>

    <lib-layout>
      <lib-layout-cell width="4" mediumWidth="10" smallWidth="10">
        <dt><%= Order::ShippingInfo.human_attribute_name('shipping_city') %>:</dt>
        <dd><%= order.shipping_info.shipping_city %></dd>
      </lib-layout-cell>
      <lib-layout-cell width="4" gap="2" mediumWidth="10" smallWidth="10">
        <dt><%= Order::ShippingInfo.human_attribute_name('shipping_state') %>:</dt>
        <dd><%= order.shipping_info.shipping_state %></dd>
      </lib-layout-cell>
    </lib-layout>

    <lib-layout>
      <lib-layout-cell width="4" mediumWidth="10" smallWidth="10">
        <dt><%= Order::ShippingInfo.human_attribute_name('shipping_zip') %>:</dt>
        <dd><%= order.shipping_info.shipping_zip %></dd>
      </lib-layout-cell>
      <lib-layout-cell width="4" gap="2" mediumWidth="10" smallWidth="10">
        <dt><%= Order::ShippingInfo.human_attribute_name('phone_number') %>:</dt>
        <dd><%= order.shipping_info.phone_number %></dd>
      </lib-layout-cell>
    </lib-layout>
  </dl>

  <hr>
<% end %>

<dl>
  <% if order.shipping_info.present? %>
    <dt><%= Order.human_attribute_name :delivery_price %></dt>
    <dd><%= number_to_currency order.delivery_price, precision: 0 %></dd>
  <% end %>
  <dt><%= Order.human_attribute_name :total %></dt>
  <dd><%= number_to_currency order.total, precision: 0 %></dd>
</dl>
