<figure class="inline">
  <%= link_to [:store, product], target: '_blank', class: 'pull-left' do %>
    <%= image_tag uploadcare_url(product.poster, scale_crop: '50x50/center') %>
  <% end %>
</figure>
  
<h4>
  <%= link_to [:store, product], target: '_blank' do %>
    <%= product.name %>
  <% end %>
</h4>

<%= t('.batch', batch: product.batch.name) %>
